header{ /* selector + propiedad + valor */
    font-family: monospace;
    color:olive;
    font-size: 12px;
    text-align: center;
}

img{
    width: 5%;
    height: 10%;
}

ul { /*esto ajusta colectivamente los item que cuentan */
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li { /*esto ajusta individualmente los item que cuentan */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color:rgb(232, 211, 183);
    font-family:monospace;
    color:rgb(190, 156, 8);
    font-size: 16px ;
    display: inline-block;
}

.lista{ /*solo edita "la caja" donde aparecen los item (funciones) que cuentan*/
    margin: 15px;

}

textarea{
    border-color: olive;
    border-style:double;
    border-width: 5px;
    border-radius: 5px;

}

body{ /* Esto es el fondo de mi sitio web */
    background-color: rgb(162, 188, 236);
    margin: 12%;
    background-image: ;
}

div{
    text-align: center;
}

#limpiarMetricas{
    font-family:monospace;
    color:rgb(190, 156, 8);
    background-color:rgb(232, 211, 183);
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 10px;
    font-size: 16px;

}

footer{
    text-align: right;
    font-family:monospace;
    color:olive;
}